<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>LibrEGGria</title>
</head>
<body>
	<h1>Registro de Usuario</h1>
	<form action="/registrar" method="post">
	<label>Nombre:</label>
	<input type="text" name="nombre">
	<label>Apellido:</label>
	<input type="text" name="apellido">
	<label>Mail:</label>
	<input type="email" name="mail">
	<label>DNI:</label>
	<input type="number" name="dni">
	<label>Telefono:</label>
	<input type="number" name="telefono">
	<label>Clave:</label>
	<input type="password" name="clave1">
	<label>Repita su clave:</label>
	<input type="password" name="clave2">
	<br/><button type="submit">Registrar!!</button>
	</form>
</body>
</html>